{% extends "base.html" %}

{% block content %}

    <h1 style="text-align: center; color: #007bff">A Calendar, Only Better!</h1>
    <br>

    <div class="container">
        <div class="long-form-features row-spaced ">
            <div class="row">
                <div class="col-md-6">
                    <div class="card row-spaced">
                        <div class="row" style="padding: 20px">
                            <div class="col-md-2 col-xs-3 text-center"><i style="color: #007bff"
                                                                          class="fa fa-group fa-4x icon-accent"
                                                                          aria-hidden="true"></i></div>
                            <div style="height: 280px">
                                <h2 class="h1">Collaboration</h2>
                                <p>Collaborate in real-time and appoint tasks</p>
                                <p><span class="real-time-example"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card row-spaced">
                        <div class="row" style="padding: 20px; height: 320px">
                            <div class="col-md-2 col-md-push-10 col-xs-3 text-center"><i style="color: #007bff"
                                                                                         class="fa fa-thumbs-up fa-4x icon-accent"
                                                                                         aria-hidden="true"></i></div>
                            <div class="col-md-10 col-md-pull-2 col-xs-9"><h2 class="h1"> Ease of Use</h2>
                                <p>No complicated installation</p>
                                <p>Accessible from all devices</p></div>
                            <i style="color: forestgreen; padding: 15px;"
                               class="fa fa-android fa-5x icon-accent"
                               aria-hidden="true"></i>
                            <i style="color: gray; padding: 15px;"
                               class="fa fa-apple fa-5x icon-accent"
                               aria-hidden="true"></i>
                            <i style="color: #007bff; padding: 15px"
                               class="fa fa-windows fa-5x icon-accent"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-6">
                    <div class="card row-spaced">
                        <div class="row" style="padding: 20px">
                            <div class="col-md-2 col-xs-3 text-center"><i style="color: #007bff"
                                                                          class="fa fa-history fa-4x icon-accent"
                                                                          aria-hidden="true"></i></div>
                            <div class="col-md-10 col-xs-9"><h2 class="h1">Task history</h2>
                                <p class="track-changes-example">See what tasks are active
                                    or done</p>
                                <p>Plan with others with only one common task history</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card row-spaced">
                        <div class="row" style="padding: 20px">
                            <div class="col-md-2 col-md-push-10 col-xs-3 text-center"><i style="color: #007bff"
                                                                                         class="fa fa-globe fa-4x icon-accent"
                                                                                         aria-hidden="true"></i></div>
                            <div class="col-md-10 col-md-pull-2 col-xs-8"><h2 class="h1">Work from anywhere</h2>
                                <p>Access your work from anywhere in the world</p>
                                <p>Plan and sync your calendar with all your circle</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        var msg1 = "<tr id='msg1' class='msg' style='display: none'>\n" +
            "      <td style=\"white-space: nowrap; width: 1%;\"><h6 class=\"assignee\">Chris</h6></td>\n" +
            "      <td><h5 class=\"date\">May 12, 2020, 9:11 p.m.</h5></td>\n" +
            "      <td style=\"width: 65%;\"><h5 class=\"journal-entry\">How is your task going?</h5></td>\n" +
            "    </tr>";

        var msg2 = "<tr id='msg2' class='msg' style='display: none'>\n" +
            "      <td style=\"white-space: nowrap; width: 1%;\"><h6 class=\"assignee\">Maria</h6></td>\n" +
            "      <td><h5 class=\"date\">May 12, 2020, 9:15 p.m.</h5></td>\n" +
            "      <td style=\"width: 65%;\"><h5 class=\"journal-entry\">I think I need more time</h5></td>\n" +
            "    </tr>";

        var msg3 = "<tr id='msg3' class='msg' style='display: none'>\n" +
            "      <td style=\"white-space: nowrap; width: 1%;\"><h6 class=\"assignee\">Chris</h6></td>\n" +
            "      <td><h5 class=\"date\">May 12, 2020, 9:18 p.m.</h5></td>\n" +
            "      <td style=\"width: 65%;\"><h5 class=\"journal-entry\">Ok I will extend it 1 week</h5></td>\n" +
            "    </tr>";


        $(".real-time-example").html(msg1 + msg2 + msg3);

        (function () {
            var msgTime = [2250, 2250, 2250, 1000];

            var index = 0;

            function nextFrame() {
                var time = msgTime[index];
                index = index + 1;
                if (index >= msgTime.length) {
                    index = 0;
                    $(".msg").hide();
                }

                $("#msg" + index).fadeIn();
                setTimeout(nextFrame, time);
            }

            nextFrame();
        })();
    </script>

{% endblock %}




