{% extends "base.html" %}


{% block path %}
<h5 class="path">
    <a href="{% url 'projects' %}">Projects</a>
    /
    {% if task %}
    <a href="{% url 'project' task.project.id %}">{{ task.project }}</a>
    /
    <a href="{% url 'task' task.id %}">{{ task }}</a>
    {% else %}
    <a href="{% url 'project' project.id %}">{{ project }}</a>
    {% endif %}
</h5>
{% endblock %}

{% block content %}

{% if task %}
<h1 class="display-2" >{{ task.project }}</h1>
<h2 class="display-3">Edit task</h2>
{% else %}
<h1 class="display-2" >{{ project }}</h1>
{% endif %}
<br>



<form action="" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group row">
        <label class="col-sm-offset-1 col-sm-2 col-form-label">{{ field.label_tag }}</label>
        {{ field }}
        <div class="col-sm-offset-3">{{ field.errors }}</div>
    </div>
    {% endfor %}

    <div class="form-row">
        <div class="col-lg-offset-1 col">
            {% if task %}
            <button type="submit" class="btn btn-primary btn-md">Save</button>
            {% else %}
            <button type="submit" class="btn btn-primary btn-md">Add</button>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}