{% extends "base.html" %}


{% block path %}
<a href="/taskmanager/projects">Projects</a>
/
<a href="#">{{ project.name }}</a>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <h1 class="col">{{ project.name }}</h1>
    <h1 class="col-xl-1" style="text-align: right">
      <a href="/taskmanager/newtask" class="btn-block">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </h1>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Assignee</th>
      <th scope="col">Start date</th>
      <th scope="col">Due date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td><a href="/taskmanager/task/{{ task.id }}">{{ task.name }}</a></td>
      <td>{{ task.assignee }}</td>
      <td>{{ task.start_date }}</td>
      <td>{{ task.due_date }}</td>
      <td>
        <a href="#" class="btn-block">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}