{% extends "base.html" %}


{% block path %}
<h5 class="path">
  <a href="{% url 'projects' %}">Projects</a>
  /
  <a href="{% url 'project' task.project.id %}">{{ task.project.name }}</a>
  /
  <a href="#">{{ task.name }}</a>
</h5>
{% endblock %}

{% block content %}

<h1 class="display-2" >{{ task.project.name }}</h1>
<button class="btn-edit">
  <a href="{% url 'task' task.id %}" class="btn-block">
    <span class="glyphicon glyphicon-edit"></span>
  </a>
</button>
<h2 class="display-5">{{ task.name }}</h2>
<h4 class="display-6" style="font-style: italic">{{ task.description }}</h4>


<table class="table">
  <tbody>
    <tr>
      <th scope="col"><h5 class="th">Assignee</h5></th>
      <td><h6 class="assignee">
        {% if task.assignee.first_name %}
        {{ task.assignee.first_name }} {{ task.assignee.last_name }}
        {% else %}
        {{ task.assignee.username }}
        {% endif %}
      </h6></td>
    </tr>
    <tr>
      <th scope="col"><h5 class="th">Start date</h5></th>
      <td><h5 class="date">{{ task.start_date }}</h5></td>
    </tr>
    <tr>
      <th scope="col"><h5 class="th">Due date</h5></th>
        <td><h5 class="date">{{ task.due_date }}</h5></td>
    </tr>
    <tr>
      <th scope="col"><h5 class="th">Status</h5></th>
      <td><h6 class="status">{{ task.status }}</h6></td>
    </tr>
  </tbody>
</table>

<h4 class="display-6" style="font-weight: bold">History</h4>
<table class="table">
  <tbody>
    {% for journal in journals %}
    <tr>
      <td style="white-space: nowrap; width: 1%;"><h6 class="assignee">
        {% if journal.author.first_name %}
        {{ journal.author.first_name }} {{ journal.author.last_name }}
        {% else %}
        {{ journal.author.username }}
        {% endif %}
      </h6></td>
      <td><h5 class="date">{{ journal.date }}</h5></td>
      <td style="width: 65%;"><h5 class="journal-entry">{{ journal.entry }}</h5></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}