{% extends "base.html" %}


{% block path %}
<a href="/taskmanager/projects">Projects</a>
/
<a href="/taskmanager/project/{{ task.project.id }}">{{ task.project.name }}</a>
/
<a href="#">{{ task.name }}</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="col">{{ task.project.name }}</h1>
    <h1 class="col" style="text-align: right">
      <a href="/taskmanager/edittask/{{ task.id }}" class="btn-block">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
    </h1>
  </div>
  <div class="row">
    <h2 class="col">{{ task.name }}</h2>
    <h3 class="col">{{ task.description }}</h3>
  </div>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">Assignee</th>
      <td>{{ task.assignee }}</td>
    </tr>
    <tr>
      <th scope="col">Start date</th>
      <td>{{ task.start_date }}</td>
    </tr>
    <tr>
      <th scope="col">Due date</th>
        <td>{{ task.due_date }}</td>
    </tr>
    <tr>
      <th scope="col">Status</th>
      <td>{{ task.status }}</td>
    </tr>
  </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">History</th>
    </tr>
  </thead>
  <tbody>
    {% for journal in journals %}
    <tr>
      <td>{{ journal.author }}</td>
      <td>{{ journal.date }}</td>
      <td>{{ journal.entry }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}