{% extends "base.html" %}


<!-- Path -->
{% block path %}
<h5 class="path">
  <a href="{% url 'projects' %}">Projects</a>
  /
  <a href="{% url 'project' task.project.id %}">{{ task.project }}</a>
  /
  <a href="#">{{ task }}</a>
</h5>
{% endblock %}

<!-- Content -->
{% block content %}

<!-- Project, Title, Priority, Description Display And Edit Button -->
<h1 class="display-2" >{{ task.project }}</h1>
<button class="btn-edit">
  <a href="{% url 'edittask' task.id %}" class="btn-block">
    <span class="glyphicon glyphicon-edit"></span>
  </a>
</button>
<h2 class="display-5">{{ task }}</h2>
<h4 class="display-6" style="font-style: italic">{{ task.description }}</h4>
<!-- Task Display -->
<table class="table">
  <tbody>
    <tr>
      <th scope="col" class="col-md-4"><h5 class="th">Priority</h5></th>
      <td class="col-md-3 text-center"><h6 class="priority">{{ task.priority }}</h6></td>
      <td class="col-md-5"></td>
    </tr>
    <tr>
      <th scope="col" class="col-md-4"><h5 class="th">Assignee</h5></th>
      <td class="col-md-3 text-center"><h6 class="assignee">{{ task.assignee }}</h6></td>
      <td class="col-md-5"></td>
    </tr>
    <tr>
      <th scope="col" class="col-md-4"><h5 class="th">Start date</h5></th>
      <td class="col-md-3 text-center"><h5 class="date">{{ task.start_date }}</h5></td>
      <td class="col-md-5"></td>
    </tr>
    <tr>
      <th scope="col" class="col-md-4"><h5 class="th">Due date</h5></th>
      <td class="col-md-3 text-center"><h5 class="date">{{ task.due_date }}</h5></td>
      <td class="col-md-5"></td>
    </tr>
    <tr>
      <th scope="col" class="col-md-4"><h5 class="th">Status</h5></th>
      <td class="col-md-3 text-center"><h6 class="status">{{ task.status }}</h6></td>
      <td class="col-md-5"></td>
    </tr>
  </tbody>
</table>

<!-- History -->

<!-- If A Journal Is Added Or Editted -->
{% if form %}
<form action="" method="post">
    {% csrf_token %}
    <!-- Fields -->
    {% for field in form %}
    <div class="form-group row">
        <label class="col-sm-offset-1 col-sm-2 col-form-label">{{ field.label_tag }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <!-- Submit Journal -->
    <div class="form-row">
        <div class="col-lg-offset-1 col">
            {% if journal %}
            <button type="submit" class="btn btn-primary btn-md">Modify</button>
            {% else %}
            <button type="submit" class="btn btn-primary btn-md">Enter</button>
            {% endif %}
        </div>
    </div>
</form>
{% else %} <!-- Add Journal Button -->
<button style="position: relative; float: right; border: none; background-color: white; padding: 1rem 2rem; font-size:6rem">
    <a href="{% url 'newjournal' task.id %}" class="btn-block" style="color: #007bff;">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
</button>
{% endif %}

<!-- Current History -->
<h4 class="display-6" style="font-weight: bold">History</h4>
<table class="table">
  <tbody>
    {% for journal in journals %}
    <tr>
      <td style="white-space: nowrap; width: 1%;"><h6 class="assignee">{{ journal.author }}</h6></td>
      <td><h5 class="date">{{ journal.date }}</h5></td>
      <td style="width: 65%;"><h5 class="journal-entry">{{ journal.entry }}</h5></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}