{% extends "projects.html" %}


{% block projects_type %}
    <div class="row" style="padding: 0 0">
        <div class="col">
            {% if done_only %}
                <h1 class="display-2" style="position: relative; float: left;">Your tasks done</h1>
            {% else %}
                <h1 class="display-2" style="position: relative; float: left;">Your tasks</h1>
            {% endif %}
        </div>
    </div>
    {% endblock %}
<!-- Highlight the browsing page -->
{% block projects_navigation %}

    <!-- Tasks -->
    <h1 class="display-2">
        <a href="{% url 'projects' %}" class="text-muted">My projects</a>/

        {% if done_only %}
            <!-- On garde le même template pour l'affichage des tâches normales et des tâches terminées-->
      
            <a href="{% url 'tasks' %}" class="text-muted">tasks</a>/
            <a href="{% url 'tasks_done' %}">tasks done</a>/

        {% else %}
            <a href="{% url 'tasks' %}">tasks</a>/
            <a href="{% url 'tasks_done' %}" class="text-muted">tasks done</a>/
        {% endif %}

        <a href="{% url 'activities' %}" class="text-muted">activities</a>
    </h1>

{% endblock %}

<!-- Content of the table -->
{% block projects_table %}

    <!-- Project Tasks With Details And Edit Button In Table -->
    <div class="row">

        <div class="col">
            <table class="table" id="tasks-table">
                <thead></thead>

                {% for project in projects %}

                    <thead>
                    <tr>
                        <th><h4 class="th">{{ project }}</h4></th>
                        <th>Priorité</th>
                        <th>Statut</th>
                        <th>Assignée</th>
                        <th>Due date</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for task in tasks %}

                        {% if task.project == project %}

                            <tr>
                                <td><h4><a href="{% url 'task' task.id %}"
                                           style="white-space: nowrap; width: 1%">{{ task }}</a></h4>
                                </td>
                                <td align="center"><h6 class="priority">{{ task.priority }}</h6></td>
                                <td><h6 class="status">{{ task.status }}</h6></td>
                                <td><h5 class="assignee">{{ task.assignee }}</h5></td>
                                <td>
                                    <h4 class="date">{{ task.due_date }}</h4>
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                    </tbody>
                {% endfor %}

{% endblock %}