<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>{% block title %}Calend-me{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Header -->
<header>
  {% block header %}
  <div class="jumbotron text-center mb-4 ">
    <h1 class="display-1">Calend-me</h1>
    <p class="lead">Here you can plane the future !</p>
    <hr class="my-0">
  </div>
  {% endblock %}
</header>


<!-- Page Content -->
<section id="content">
  {% block content %}{% endblock %}
</section>

<!-- Footer -->
<footer>
  {% block footer %}
  {% endblock %}
</footer>


</body>
</html>
