<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>{% block title %}Calend-me{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/static/css/styles.css">
</head>


<body>


<header>
  <div class="jumbotron">

    <!-- Header -->
    {% block header %}
    <h1 class="display-1">Calend-me</h1>
    <p class="lead">Here you can plane the future !</p>
    <hr class="my-4">
    {% endblock %}

    <!-- User Band -->
    {% block user_band %}
     <p class="lead">
       Welcome {{ user }} !
       <span>
         <a href="{% url 'logout' %}" class="btn btn-info btn-lg" role="button">
           <span class="glyphicon glyphicon-log-out"></span> Log out
         </a>
       </span>
     </p>
    {% endblock %}
  </div>
</header>

<!-- Path -->
<div class="container">
    {% block path %}{% endblock %}
</div>

<!-- Page Content -->
<div class="container">
  {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="my-footer">
  {% block footer %}
  <hr class="my-footer">
  <h5>Calend-me</h5>
  {% endblock %}
</footer>


</body>
</html>
