/* This is all the personalised styles used in the django project */

.jumbotron {padding:2rem 2rem;
  margin: 2rem 3rem;
  border-radius:0.5rem;}

h5.path {padding:1rem 1.5rem;
  margin:0;
  background-color:#e9ecef;
  border-radius:0.5rem;}

.project {padding:0.3rem 0.3rem;}

.th {font-weight: bold;
  margin: fill;}

.assignee {background-color:#007bff;
  margin: fill;
  display: inline-flex;
  font-weight: bold;
  color: white;
  padding:0.3rem 0.3rem;
  border-radius:0.5rem;}

.date {font-style:italic;
  margin: fill;}

.status {background-color:#ffc107;
  margin: fill;
  display: inline-flex;
  font-weight: bold;
  padding:0.3rem 0.3rem;
  border-radius:0.5rem;}

.priority {background-color: darkgray;
  margin: fill;
  display: inline-flex;
  font-weight: bold;
  color: white;
  padding:0.3rem 0.6rem;
  border-radius:2rem;}

.journal-entry {margin: fill;}

footer.my-footer {padding:1rem 2rem;
  margin-left:4rem;
  margin-right:4rem;}

hr.my-footer {margin-top: 0;
  border-top-color:#d5d5d5;}

.form-group {margin: 0.3rem;}

.btn-block {color: #007bff;}

.btn-log {float: right;
  background-color:#007bff}

.btn-edit {position: relative;
  float: right;
  border: none;
  background-color: white;
  padding: 1rem 2rem;
  font-size:6rem}

.btn-md {border-color:#007bff;
  float: left;
  margin-top: 2rem}

.col-form-label {padding: 0}

.errorlist {list-style: none;
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  color: darkred;}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}